<a href="https://colab.research.google.com/github/msmccann10/Visualizations/blob/main/MM%20-%20Income%20Distribution/Income_Distribution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **U.S. Household Income Distribution By State (Makeover Monday)**
**Student**: Michael McCann <br>
**Date**: 17 FEB 2022

In [ ]:
## Load Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
## Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [ ]:
URL = 'https://query.data.world/s/am6sthe7e77c4xj3kwvnznlu4wi3c4'
df = pd.read_excel(URL)

In [ ]:
display(df.head())
df.info()

   Year    State        Income Level  Percent of Total  Number of Households
0  2009  Alabama  $10,000 to $14,999            0.0742                134988
1  2009  Alabama  $15,000 to $19,999            0.0687                125046
2  2009  Alabama  $20,000 to $24,999            0.0661                120178
3  2009  Alabama  $25,000 to $29,999            0.0607                110437
4  2009  Alabama  $30,000 to $34,999            0.0578                105216

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6656 entries, 0 to 6655
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  6656 non-null   int64
 1   State                 6656 non-null   object
 2   Income Level          6656 non-null   object
 3   Percent of Total      6656 non-null   float64
 4   Number of Households  6656 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 260.1+ KB

In [ ]:
df['Income Level'].unique()

array(['$10,000 to $14,999', '$15,000 to $19,999', '$20,000 to $24,999',
       '$25,000 to $29,999', '$30,000 to $34,999', '$35,000 to $39,999',
       '$40,000 to $44,999', '$45,000 to $49,999', '$50,000 to $59,999',
       '$60,000 to $74,999', '$75,000 to $99,999', '$100,000 to $124,999',
       '$125,000 to $149,999', '$150,000 to $199,999', '$200,000 or more',
       'Less than $10,000'], dtype=object)

In [ ]:
df = df[df['Year']== 2016]

df_less25 = df[(df['Income Level'] == 'Less than $10,000') | 
                (df['Income Level'] == '$10,000 to $14,999') |
                (df['Income Level'] == '$15,000 to $19,999') |
                (df['Income Level'] == '$20,000 to $24,999')]
df_25to50 = df[(df['Income Level'] == '$25,000 to $29,999') | 
                (df['Income Level'] == '$30,000 to $34,999') |
                (df['Income Level'] == '$35,000 to $39,999') |
                (df['Income Level'] == '$40,000 to $44,999') |
                (df['Income Level'] == '$45,000 to $49,999')]
df_50to75 = df[(df['Income Level'] == '$50,000 to $59,999') | 
                (df['Income Level'] == '$60,000 to $74,999')]
df_75to100 = df[(df['Income Level'] == '$75,000 to $99,999')]
df_100t150 = df[(df['Income Level'] == '$100,000 to $124,999') | 
                (df['Income Level'] == '$125,000 to $149,999')]
df_150plus = df[(df['Income Level'] == '$150,000 to $199,999') | 
                (df['Income Level'] == '$200,000 or more')]

In [ ]:
sns.barplot(data = df, y = 'State', x = 'Percent of Total', orient = 'h');

In [ ]:
df_less25 = df_less25.groupby('State')['Percent of Total'].sum()
df_25to50 = df_25to50.groupby('State')['Percent of Total'].sum()
df_50to75 = df_50to75.groupby('State')['Percent of Total'].sum()
df_75to100 = df_75to100.groupby('State')['Percent of Total'].sum()
df_100t150 = df_100t150.groupby('State')['Percent of Total'].sum()
df_150plus = df_150plus.groupby('State')['Percent of Total'].sum()

In [ ]:
df_less25

State
Alabama                 0.2910
Alaska                  0.1411
Arizona                 0.2333
Arkansas                0.2962
California              0.1970
Colorado                0.1809
Connecticut             0.1739
Delaware                0.1825
District of Columbia    0.2175
Florida                 0.2468
Georgia                 0.2469
Hawaii                  0.1602
Idaho                   0.2356
Illinois                0.2118
Indiana                 0.2328
Iowa                    0.2115
Kansas                  0.2143
Kentucky                0.2880
Louisiana               0.2942
Maine                   0.2399
Maryland                0.1488
Massachusetts           0.1917
Michigan                0.2416
Minnesota               0.1803
Mississippi             0.3250
Missouri                0.2444
Montana                 0.2493
Nebraska                0.2093
Nevada                  0.2131
New Hampshire           0.1579
New Jersey              0.1718
New Mexico              0.2873
New York                0.2232
North Carolina          0.2535
North Dakota            0.1939
Ohio                    0.2450
Oklahoma                0.2545
Oregon                  0.2262
Pennsylvania            0.2230
Puerto Rico             0.5879
Rhode Island            0.2276
South Carolina          0.2659
South Dakota            0.2157
Tennessee               0.2661
Texas                   0.2220
Utah                    0.1632
Vermont                 0.2124
Virginia                0.1781
Washington              0.1834
West Virginia           0.3011
Wisconsin               0.2107
Wyoming                 0.1921
Name: Percent of Total, dtype: float64